# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build products
build/
DerivedData/

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# Build artifacts
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
